{% extends "base.html" %}
{% load static %}

{% block title %}Деталізація обладнання{% endblock title %}
{% block content %}
<div class="wrapper">
  <div class="main-panel">
    <div class="detailcontent">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="card ">
            <!--<h2 class="card-title">Деталізація обраного обладнання</h2>-->
            <div class="card-body">
              <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                  <h2>{{equipment.name}}</h2>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
                  <a href="{{ equipment.get_update_url }}">
                    <button id="update-equipment-btn" type="button" class="btn">Редагувати</button>
                  </a>
                  <a href="{{ equipment.get_delete_url }}">
                    <button id="delete-equipment-btn" type="button" class="btn">Видалити</button>
                  </a>
                </div>
              </div>
              <div class="equipment">
                <div class="equipment-image">
                  {% if equipment.photo %}
                    <img src="{{equipment.photo.url}}" alt="{{equipment.name}}">
                  {% else %}
                    <img class="border img-profile" src="{%static "img/equipnophoto.png" %}">
                  {% endif %}
                </div>
                <div class="equipment-info">
                  <p><span>Категорія</span>{{equipment.category.name}}</p>
                  <p><span>Серійний номер</span>{{equipment.serialNumber|upper}}</p>
                  <p><span>Дата введення в експлуатацію</span>{{equipment.operationDate|date:"d.m.Y"}}</p>
                  <p><span>Статус</span>{{equipment.status.name}}</p>
                  <p><span>Місцезнаходження</span>{{equipment.location.name}}</p>
                  <p><span>Матеріально відповідальний</span>{{equipment.responsible.get_rank_display}} {{equipment.responsible.fullname}}</p><br><br>
                  <p><span>Закріплено</span>{{equipment.fixed.get_rank_display}} {{equipment.fixed.fullname}}</p><br><br>
                  <p><span>Користувач</span>{{equipment.employee.get_rank_display}} {{equipment.employee.fullname}}</p>
                  <p><span>Додатковий коментар</span>{{equipment.comment}}</p>
                </div>
                <div class="card ">
                  <div class="card-header">
                    <h4 class="card-title">Комплектація:</h4>
                  </div>
                  <div class="card-body table-wrapper-scroll-y">
                    <div class="table-responsive">
                      <table class="table table-hover tablesorter dataTable no-footer table-bordered table-striped table-sm" id="" cellspacing="0">
                        <thead class=" text-primary text-center">
                          <tr>
                            <th> # </th>
                            <th> Назва </th>
                            <th> Серійний номер </th>
                            <th> Інв.номер </th>
                            <th> Кількість </th>
                          </tr>
                        </thead>
                        <tbody class="text-center">
                          {% if equipment.elements.all %}
                              {% for element in equipment.elements.all %}
                                <tr class="row-link">
                                  <td> <a href="{{ element.get_absolute_url }}">{{ forloop.counter }} </a></td>
                                  <td> <a href="{{ element.get_absolute_url }}">{{ element.name }} </a></td>
                                  <td> <a href="{{ element.get_absolute_url }}">{{ element.serialNumber|upper }} </a></td>
                                  <td> <a href="{{ element.get_absolute_url }}">{{ element.inventoryNumber }} </a></td>
                                  <td> <a href="{{ element.get_absolute_url }}">{{ element.value }} </a></td>   
                                </tr>               
                              {% endfor %}
                            {% else %}
                              <tr>
                                  <td> # </td>
                                  <td> {{equipment.name}} </td>
                                  <td> {{equipment.serialNumber|upper}} </td>
                                  <td> {{equipment.inventoryNumber}} </td>
                                  <td> 1 шт. </td>   
                                </tr>
                            {% endif %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <div class="copyright">
            © 2023 made with <i class="tim-icons icon-heart-2"></i> by <b>Ruslan Tokar</b> for a 3002 NGU.
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
{% endblock content %}
{% block extra_js %}
{% endblock extra_js %}
