{% extends "base.html" %}
{% load static %}

{% block title %}Деталізація обладнання{% endblock title %}
{% block content %}
<div class="wrapper">
  <div class="main-panel">
    <div class="detailcontent">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="card ">
            <!--<h2 class="card-title">Деталізація обраного обладнання</h2>-->
            <div class="card-body">
              <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                  <h2>{{equipment.name}}</h2>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right">
                  <a href="{{ equipment.get_update_url }}">
                    <button id="add-equipment-btn" type="button" class="btn">Редагувати</button>
                  </a>
                </div>
              </div>
              <div class="equipment">
                <div class="equipment-image">
                  {% if equipment.photo %}
                    <img src="{{equipment.photo.url}}" alt="{{equipment.name}}">
                  {% else %}
                    <img class="border img-profile" src="{%static "img/equipnophoto.png" %}">
                  {% endif %}
                </div>
                <div class="equipment-info">
                  <p><span>Категорія</span>{{equipment.category.name}}</p>
                  <p><span>Серійний номер</span>{{equipment.serialNumber}}</p>
                  <p><span>Статус</span>{{equipment.status.name}}</p>
                  <p><span>Відповідальний</span>{{equipment.employee.get_rank_display}} {{equipment.employee.fullname}}</p>
                </div>
                <div class="equipment-info  text-center">
                  <h4>Комплектація:</h4>
                  <div class="table-responsive ">
                    <table class="table table-hover tablesorter " id="">
                      <thead class=" text-primary">
                        <tr>
                          <th> Назва </th>
                          <th> Серійний номер </th>
                          <th> Кількість </th>
                        </tr>
                      </thead>
                      <tbody>
                        {% if equipment.elements.all %}
                          {% for element in equipment.elements.all %}
                            <tr class="row-link">
                              <td>  <a href="{{ element.get_absolute_url }}">{{ element.name }} </a></td>
                              <td>  <a href="{{ element.get_absolute_url }}">{{ element.serialNumber }} </a></td>
                              <td>  <a href="{{ element.get_absolute_url }}">{{ element.value }} </a></td>   
                            </tr>               
                          {% endfor %}
                        {% else %}
                          <tr>
                              <td> {{equipment.name}} </td>
                              <td> {{equipment.serialNumber}} </td>
                              <td> 1 шт. </td>   
                            </tr>
                        {% endif %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <div class="copyright">
            © 2023 made with <i class="tim-icons icon-heart-2"></i> by <b>Ruslan Tokar</b> for a 3002 NGU.
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
{% endblock content %}
{% block extra_js %}
{% endblock extra_js %}
