{% extends "base.html" %}
{% load static %}

{% block title %}Обладнання{% endblock title %}
{% block content %}
  <div class="wrapper">
    {% block sidebar %}
    <div class="sidebar" data="black">
      <div class="sidebar-wrapper">
        <div id="accordion">
          <div class="card sidebarcard">
            <form id="equipmentFilterForm" method="get" action="{% url 'equipment:list' %}">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" 
                          type="button"
                          data-toggle="collapse" 
                          data-target="#categoriesCollapse"
                          aria-expanded="true" 
                          aria-controls="categoriesCollapse">Категорії</button>
                </h5>
              </div>              
              <div id="categoriesCollapse" class="collapse show">
                <div class="form-group">
                  {% for category in categories %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" 
                              name="category[]" id="{{ category.name }}" 
                              value="{{ category.name }}" {% if category.name in selected_categories %}checked{% endif %}>
                      <label class="form-check-label" for="{{ category.name }}">{{ category.name }}</label>
                    </div>
                  {% endfor %}
                </div>
              </div>
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" 
                          type="button"
                          data-toggle="collapse" 
                          data-target="#statusCollapse"
                          aria-expanded="true" 
                          aria-controls="statusCollapse">Статус</button>
                </h5>
              </div>
              <div id="statusCollapse" class="collapse show">
                <div class="form-group">
                  {% for status in statuses %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" 
                              name="status[]" id="{{ status.name }}" 
                              value="{{ status.name }}" {% if status.name in selected_statuses %}checked{% endif %}>
                      <label class="form-check-label" for="{{ status.name }}">{{ status.name }}</label>
                    </div>
                  {% endfor %}
                </div>
              </div>
              <label for="sort">Сортування:</label>
              <select id="sort" name="sort">
                {% for sort in sort_dict %}
                <option value="{{sort.key}}" {% if sort_field == sort.key %}selected{% endif %}>{{sort.value}}</option>
                {% endfor %}
              </select>
              <label for="order">Напрямок:</label>
              <select id="order" name="order">
                <option value="asc" {% if sort_order == 'asc' %}selected{% endif %}>А-я</option>
                <option value="desc" {% if sort_order == 'desc' %}selected{% endif %}>Я-а</option>
              </select>
              <div align ="center">
              <button type="submit" class="btn btn-sm">Фільтрувати</button>
              </div>
            </form>
          </div>
        </div>
      <div>
      <a href="{% url 'equipment:add' %}">
        <button id="add-equipment-btn" type="button" class="btn btn-sm">Додати нове обладнання</button>
      </a>
      </div>
      </div>
    </div>
    {% endblock sidebar %}
    <div class="main-panel">
      <div class="content">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="card ">
              <div class="card-header">
                <h4 class="card-title">Журнал матеріальних цінностей</h4>
              </div>
              <form method="GET" action="{% url 'equipment:list' %}">
                <input type="text" class="form-control search_field" name="q" placeholder="Пошук" value={{search_query}}>
                <button class="btn btn-sm search_field" type="submit">Шукати</button>
              </form>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover tablesorter dataTable no-footer table-striped" id="" cellspacing="0">
                    <thead class=" text-primary text-center">
                      <tr>
                        <th> # </th>
                        <th >
                            Назва
                            {% if sort_field == 'name' %}
                              {% if sort_order == 'asc' %}
                                &uarr;
                              {% else %}
                                &darr;
                              {% endif %}
                            {% endif %}
                        </th>
                        <th> 
                           Категорія
                            {% if sort_field == 'category__name' %}
                              {% if sort_order == 'asc' %}
                                &uarr;
                              {% else %}
                                &darr;
                              {% endif %}
                            {% endif %}
                        </th>
                        <th> 
                           Дата вв. в експл.
                           {% if sort_field == 'operationDate' %}
                              {% if sort_order == 'asc' %}
                                &uarr;
                              {% else %}
                                &darr;
                              {% endif %}
                            {% endif %}
                        </th>
                        <th>
                          Інв.номер
                        </th>
                        <th>
                          Зав.номер
                        </th>
                        <th>
                          Вн.номер
                        </th>
                        <th>
                            Кількість
                        </th>
                        <th>
                          Од.виміру
                        </th>
                        <th>
                            Первісна вартість
                        </th>
                        <th> 
                           Місце закріплення
                            {% if sort_field == 'location__name' %}
                              {% if sort_order == 'asc' %}
                                &uarr;
                              {% else %}
                                &darr;
                              {% endif %}
                            {% endif %}
                        </th>
                        <th> 
                           Мат. відп.
                            {% if sort_field == 'responsible__lastname' %}
                              {% if sort_order == 'asc' %}
                                &uarr;
                              {% else %}
                                &darr;
                              {% endif %}
                            {% endif %}
                        </th>
                        <th> 
                           Закріплено
                            {% if sort_field == 'fixed__lastname' %}
                              {% if sort_order == 'asc' %}
                                &uarr;
                              {% else %}
                                &darr;
                              {% endif %}
                            {% endif %}
                        </th>
                        <th> 
                           Користувач
                            {% if sort_field == 'employee__lastname' %}
                              {% if sort_order == 'asc' %}
                                &uarr;
                              {% else %}
                                &darr;
                              {% endif %}
                            {% endif %}
                        </th>
                        <th> 
                           Статус
                            {% if sort_field == 'status__name' %}
                              {% if sort_order == 'asc' %}
                                &uarr;
                              {% else %}
                                &darr;
                              {% endif %}
                            {% endif %}
                        </th>
                        <th> Управління </th>
                      </tr>
                    </thead>
                    <tbody class="text-center">
                      {% for equipment in equipments %}
                      <tr class="row-link">
                        <td> <a href="{{ equipment.get_absolute_url }}">{{ forloop.counter }} </a></td>
                        <td> <a href="{{ equipment.get_absolute_url }}">{{equipment.name}} </a></td>
                        <td> <a href="{{ equipment.get_absolute_url }}">{{equipment.category.name}} </a></td>
                        <td> <a href="{{ equipment.get_absolute_url }}">{{equipment.operationDate|date:"d.m.Y"}} </a></td>
                        <td> <a href="{{ equipment.get_absolute_url }}">{{equipment.inventoryNumber|default_if_none:""|upper}} </a></td>
                        <td> <a href="{{ equipment.get_absolute_url }}">{{equipment.serialNumber|default_if_none:""|upper}} </a></td>
                        <td> <a href="{{ equipment.get_absolute_url }}">{{equipment.internalNumber|default_if_none:""|upper}} </a></td>
                        <td> <a href="{{ equipment.get_absolute_url }}">{{equipment.value}} </a></td>
                        <td> <a href="{{ equipment.get_absolute_url }}">{{equipment.unit}} </a></td>
                        <td> <a href="{{ equipment.get_absolute_url }}">{{equipment.cost|default_if_none:""}} </a></td>
                        <td> <a href="{{ equipment.get_absolute_url }}">{{equipment.location}} </a></td>
                        <td> 
                          <a href="{{ equipment.get_absolute_url }}">
                            <span>{{equipment.responsible.get_rank_display}}</span><br>
                            <span>{{equipment.responsible.fullname}}</span><br>
                            {% if equipment.responsible_reason %}
                            <br>
                            <span>Підстава:</span><br>
                            <span class="text-muted">{{equipment.responsible_reason}}</span>
                            {% endif %}
                          </a>
                        </td>
                        <td> 
                          <a href="{{ equipment.get_absolute_url }}">
                            <span>{{equipment.fixed.get_rank_display}}</span><br>
                            <span>{{equipment.fixed.fullname}}</span><br>
                            {% if equipment.fixed_reason %}
                            <br>
                            <span>Підстава:</span><br>
                            <span class="text-muted">{{equipment.fixed_reason}}</span>
                            {% endif %}
                          </a>
                        </td>
                        <td> 
                          <a href="{{ equipment.get_absolute_url }}">
                            <span>{{equipment.employee.get_rank_display}}</span><br>
                            <span>{{equipment.employee.fullname}}</span><br>
                            <span class="text-muted">{{equipment.employee.officialPhone|default_if_none:""}}</span><br>
                            <span class="text-muted">{{equipment.employee.personalPhone|default_if_none:""}}</span>
                            {% if equipment.employee_reason %}
                            <br>
                            <span>Підстава:</span><br>
                            <span class="text-muted">{{equipment.employee_reason}}</span>
                            {% endif %}
                          </a>
                        </td>
                        <td> <a href="{{ equipment.get_absolute_url }}">{{equipment.status}} </a></td>
                        <td class="text-left">
                          <a href="{{ equipment.get_update_url }}">
                            <button id="update-equipment-btn" 
                                    type="button" 
                                    class="btn btn-outline-success btn-circle btn-sm btn-circle" 
                                    data-toggle="modal" 
                                    data-target="#update-equipment-modal">
                              <i class="fa fa-edit"></i>
                            </button>
                          </a>
                          <a href="{{ equipment.get_delete_url }}">
                            <button id="delete-equipment-btn" 
                                    type="button" 
                                    class="btn btn-outline-success btn-circle btn-sm btn-circle" 
                                    data-toggle="modal" 
                                    data-target="#delete-equipment-modal">
                              <i class="fa fa-trash"></i>
                            </button>
                          </a>
                          <a href="{{ equipment.get_update_url }}">
                            <button id="update-equipment-btn" 
                                    type="button" 
                                    class="btn btn-outline-success btn-circle btn-sm btn-circle" 
                                    data-toggle="modal" 
                                    data-target="#update-equipment-modal">
                              <i class="fa fa-history"></i>
                            </button>
                          </a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <div class="copyright">
            © 2023 made with <i class="tim-icons icon-heart-2"></i> by <b>Ruslan Tokar</b> for a 3002 NGU.
          </div>
        </div>
      </footer>
    </div>
  </div>
{% endblock content %}
{% block extra_js %}
  <script>
    $(document).ready(function() {
      //Скрипт для процесингу фільтрів та сортування
      $('#equipmentFilterForm').submit(function(event) {
        event.preventDefault();
        $.ajax({
          url: $(this).attr('action'),
          data: $(this).serialize(),
          success: function(data) {
            $('.content').html(data);
          }
        });
      });
    });
    //Скрипт для відкриття модального вікна додавання обладнання
    $(document).on("click", "#add-equipment-btn", function() {
        console.log("Press")
        $('#add-equipment-modal').modal('show');
    });
    $(document).ready(function () {
      $('#dtHorizontalVerticalExample').DataTable({
        "scrollX": true,
        "scrollY": 200,
      });
      $('.dataTables_length').addClass('bs-select');
    });
  </script>
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
    var input = document.querySelector('#search-form input[name="q"]');
    input.addEventListener('input', function() {
        input.closest('form').submit();
    });
});
  </script>
{% endblock extra_js %}
