{% extends "base.html" %}
{% load static %}

{% block title %}Деталізація комплектуючого{% endblock title %}
{% block content %}
<div class="wrapper">
  <div class="main-panel">
    <div class="detailcontent">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="card ">
            <!--<h2 class="card-title">Деталізація обраного обладнання</h2>-->
            <div class="card-body">
              <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                  <h2>{{element.name}}</h2>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
                  <a href="{{ element.get_update_url }}">
                    <button id="update-element-btn" type="button" class="btn">Редагувати</button>
                  </a>
                  <a href="{{ element.get_delete_url }}">
                    <button id="delete-element-btn" type="button" class="btn">Видалити</button>
                  </a>
                </div>
              </div>
              <div class="equipment">
                <div class="equipment-image">
                  {% if element.photo %}
                    <img src="{{element.photo.url}}" alt="{{element.name}}">
                  {% else %}
                    <img class="border img-profile" src="{%static "img/equipnophoto.png" %}">
                  {% endif %}
                </div>
                <div class="equipment-info">
                  <p><span>Категорія</span>{{element.category.name}}</p>
                  <p><span>Серійний номер</span>{{element.serialNumber}}</p>
                  <p><span>Дата введення в експлуатацію</span>{{element.operationDate|date:"d.m.Y"}}</p>
                  <p><span>Кількісна характеристика</span>{{element.value}}</p>
                  <p><span>Статус</span>{{element.status.name}}</p>
                  <p><span>Місцезнаходження</span>{{element.location.name}}</p>
                  <p><span>Матеріально відповідальний</span>{{element.responsible.get_rank_display}} {{element.responsible.fullname}}</p><br><br>
                  <p><span>Закріплено</span>{{element.fixed.get_rank_display}} {{element.fixed.fullname}}</p><br><br>
                  <p><span>Де встановлено</span>{{element.equipment.name}} S/N: {{element.equipment.serialNumber}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <div class="copyright">
            © 2023 made with <i class="tim-icons icon-heart-2"></i> by <b>Ruslan Tokar</b> for a 3002 NGU.
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
{% endblock content %}
{% block extra_js %}
{% endblock extra_js %}
