.table-hover tbody tr:hover {
    color: #525f7f;
    background-color: rgb(172 181 209 / 8%);
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
  display:block;
}

.table-header {
  color: #3f65d4;
}

.container-fluid.signin {
  text-align: center;
  padding-left: 50%;
  padding-top: 15px;
}

.navactive {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}

.sidebar .sidebar-header {
  text-align: center;
  color: #f5f5f5;
  border-bottom: 1px solid #eee;
}

.sidebar .sidebar-wrapper ul.components {
  padding: 20px 20px;
}

.sidebar .idebar-wrapper ul li {
  margin: 10px 0;
}

.sidebar .idebar-wrapper ul li label{
  margin-left: 10px 0;
}

.vertical-center, .vertical-center:hover {
  transform: translateY(-50%);
  margin-left: 25%;
  padding: inherit;
  background: #1e1e24;
  background-image: -moz-linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca) !important;
}

.form-check-input {
  position: absolute;
  margin-top: 0;
  margin-left: 5px;
}

.form-check input[type="checkbox"]{
  opacity: 100;
  visibility: inherit;
}

.sidebarcard{
  background: #1a1e34;
}

.main-panel > .detailcontent {
  padding: 70px 250px 30px 250px;
  min-height: calc(100vh - 70px);
}

.row-link {
  width: 100%;
}

.row-link:hover {
  cursor: pointer;
}

.row-link a {
  display: inline;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

/*Equipment Detail Style*/
.equipment-image {
    width: 40%;
    float: left;
}
.equipment-info {
    width: 60%;
    float: left;
    padding: 20px 0;
}
.equipment-info p {
    margin: 10px 10px 10px 100px;
}
.equipment-info p span {
    width: 20%;
    float: left;
    color: #FE3A3E;
    font-weight: 600;
}

@media screen and (max-width: 736px) {
    .equipment-info p {
        margin-left: 80px;
    }
}

@media screen and (max-width: 640px) {
    .equipment-info p {
        margin-left: 65px;
    }
}

@media screen and (max-width: 568px) {
    .equipment-info p {
        font-size: 14px;
        margin-left: 50px;
    }
}

@media screen and (max-width: 414px) {
    .quipment-info p {
        margin-left: 20px;
    }
}

@media screen and (max-width: 384px) {
    .quipment-image {
        width: 70%;
        margin-left: 15%;
    }
}




.modal-content {
  background: #181c31;
}
.modal-content .modal-header .modal-title {
    color: #fff;    
}
.modal-title {
    font-size: large;
}