{% extends "base.html" %}
{% block title %}Delete Directory {% endblock title %}
{% block content %}
<div class="card shadow-lg o-hidden border-0 my-5">
	<div class="card-body p-0">
		<div class="row">
			<div class="col-lg-12">
				<div class="p-5">
					<div class="text-center">
						<h4 class="text-light mb-4">Видалити категорію "{{category.name}}"?</h4>
					</div>
					{% if message %}
						<div class="alert alert-success" role="alert">
							{% for message in messages %}
								{{ message }}
							{% endfor %}
						</div>
					{% endif %}
					<form method="post">
						{% csrf_token %}
						<div class="row">
							<div class="col-sm-3 mb-3 mb-sm-0">
							</div>
							<div class="col-sm-3 mb-3 mb-sm-0">
								<input class="default btn  d-block btn-user w-100"  type="submit" value="Так, Видалити" name="_confirm">
							</div>
							<div class="col-sm-3 mb-3 mb-sm-0">
								<input class="default btn  d-block btn-user w-100"  type="submit" value="Ні, Я помилився" name="_cancel">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}