{% extends "base.html" %}
{% load static %}

{% block title %}Довідники{% endblock title %}
{% block content %}
  <div class="wrapper">
    {% block sidebar %}
    <div class="sidebar" data="black">
      <div class="sidebar-wrapper">
        <div id="accordion">
          <div class="card sidebarcard">
            <form id="directoryFilterForm" method="get" action="{% url 'directory_element_status_list' %}">
              <!--<div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" 
                          type="button"
                          data-toggle="collapse" 
                          data-target="#categoriesCollapse"
                          aria-expanded="true" 
                          aria-controls="categoriesCollapse">Адреси</button>
                </h5>
              </div>              
              <div id="categoriesCollapse" class="collapse show">
                <div class="form-group">
                  {% for category in categories %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" 
                              name="category[]" id="{{ category.name }}" 
                              value="{{ category.name }}" {% if category.name in selected_categories %}checked{% endif %}>
                      <label class="form-check-label" for="{{ category.name }}">{{ category.name }}</label>
                    </div>
                  {% endfor %}
                </div>
              </div>
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" 
                          type="button"
                          data-toggle="collapse" 
                          data-target="#statusCollapse"
                          aria-expanded="true" 
                          aria-controls="statusCollapse">Статус</button>
                </h5>
              </div>
              <div id="statusCollapse" class="collapse show">
                <div class="form-group">
                  {% for status in statuses %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" 
                              name="status[]" id="{{ status.name }}" 
                              value="{{ status.name }}" {% if status.name in selected_statuses %}checked{% endif %}>
                      <label class="form-check-label" for="{{ status.name }}">{{ status.name }}</label>
                    </div>
                  {% endfor %}
                </div>
              </div>
              <label for="sort">Сортування:</label>
              <select id="sort" name="sort">
                {% for sort in sort_dict %}
                <option value="{{sort.key}}" {% if sort_field == sort.key %}selected{% endif %}>{{sort.value}}</option>
                {% endfor %}
              </select>-->
              <label for="order">Напрямок сортування:</label>
              <select id="order" name="order">
                <option value="asc" {% if sort_order == 'asc' %}selected{% endif %}>А-я</option>
                <option value="desc" {% if sort_order == 'desc' %}selected{% endif %}>Я-а</option>
              </select>
              <div align ="center">
              <button type="submit" class="btn">Сортувати</button>
              </div>
            </form>
          </div>
        </div>
      <div>
      <a href="{% url 'directory_element_status_add' %}">
        <button id="add-employee-btn" type="button" class="btn">Додати новий статус</button>
      </a>
      </div>
      </div>
    </div>
    {% endblock sidebar %}
    <div class="main-panel">
      <div class="content">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="card ">
              <div class="card-header">
                <h4 class="card-title">Статуси комплектуючіх</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive ">
                  <table class="table table-hover tablesorter " id="">
                    <thead class=" text-primary">
                      <tr>
                        <th> # </th>
                        <th>
                            Назва
                            {% if sort_field == 'name' %}
                              {% if sort_order == 'asc' %}
                                &uarr;
                              {% else %}
                                &darr;
                              {% endif %}
                            {% endif %}
                        </th>
                        <th>
                            Додаткові відомості
                        </th>
                        
                        {% if user.is_staff %}
                          <th> Управління </th>
                        {% endif %}
                      </tr>
                    </thead>
                    <tbody>
                      {% for status in elementStatuses %}
                      <tr class="row-link">
                        <td> {{ forloop.counter }} </td>
                        <td> {{status.name}} </td>                        
                        <td> {{status.notes|default_if_none:""}} </td>
                        <td> 
                          <a href="{{ status.get_update_url }}">
                            <button id="update-employee-btn" 
                                    type="button" 
                                    class="btn btn-outline-success btn-circle btn-sm btn-circle" 
                                    data-toggle="modal" 
                                    data-target="#update-element_status-modal">
                              <i class="fa fa-edit"></i>
                            </button>
                          </a>
                          <a href="{{ status.get_delete_url }}">
                            <button id="delete-employee-btn" 
                                    type="button" 
                                    class="btn btn-outline-success btn-circle btn-sm btn-circle" 
                                    data-toggle="modal" 
                                    data-target="#delete-element_status-modal">
                              <i class="fa fa-trash"></i>
                            </button>
                          </a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <div class="copyright">
            © 2023 made with <i class="tim-icons icon-heart-2"></i> by <b>Ruslan Tokar</b> for a 3002 NGU.
          </div>
        </div>
      </footer>
    </div>
  </div>
{% endblock content %}
{% block extra_js %}
  <script>
    $(document).ready(function() {
      $('#employeeFilterForm').submit(function(event) {
        event.preventDefault();
        $.ajax({
          url: $(this).attr('action'),
          data: $(this).serialize(),
          success: function(data) {
            $('.content').html(data);
          }
        });
      });
    });
  </script>
  <script src="{%static "js/script.js" %}"></script>
{% endblock extra_js %}
