{% extends "base.html" %}
{% load static %}

{% block title %}Add Directory {% endblock title %}
{% block content %}
<div class="wrapper">
  <div class="main-panel">
    <div class="detailcontent">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="card ">
            <!--<h2 class="card-title">Деталізація обраного обладнання</h2>-->
            <div class="card-body">
              <!-- Modal -->
              <h5 class="modal-title" id="addEmployeeModalLabel">Додати нову локацію співробітника:</h5>
            </div>
            <div class="modal-body">
                         <form method="post" enctype="multipart/form-data" id="addEmployeeLocationForm">
                            {% csrf_token %}
                            <div class="form-group">
                              <label for="category">Адреса:</label>
                              {{ form.address }}
                            </div>
                            <div class="form-group">
                              <label for="rank">Локація:</label>
                              {{ form.name }}
                            </div>
                            <div class="form-group">
                              <label for="firstname">Додаткові відомості:</label>
                              {{ form.notes }}
                            </div> 
                          </form>
            </div>
            <div class="modal-footer" style="border-top: none;">
              <a href="{% url 'directory_employee_location_list' %}"> 
                <button class="btn " value="Dismiss" name="_dismiss" >Відміна</button>
              </a>
              <button type="submit" class="btn " value="Save" name="_save" form="addEmployeeLocationForm">Зберегти</button>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <div class="copyright">
            © 2023 made with <i class="tim-icons icon-heart-2"></i> by <b>Ruslan Tokar</b> for a 3002 NGU.
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
{% endblock content %}
{% block extra_js %}
{% endblock extra_js %}