{% extends "base.html" %}
{% load static %}

{% block title %}Equipments{% endblock title %}
{% block content %}
  <div class="wrapper">
    {% block sidebar %}
    <div class="sidebar" data="black">
    <!--Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"-->
      <div class="sidebar-wrapper">
        <ul class="nav">
          {% url 'equipment' as equipment_url %}
          <li class="{% if 'equipment' in request.path %} active {% endif %}">
            <a href="{% url 'equipment:equipment' %}">
              <i class="fas fa-cogs"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <!--<li>
            <a href="./icons.html">
              <i class="tim-icons icon-atom"></i>
              <p>Icons</p>
            </a>
          </li>
          <li>
            <a href="./map.html">
              <i class="tim-icons icon-pin"></i>
              <p>Maps</p>
            </a>
          </li>
          <li>
            <a href="./notifications.html">
              <i class="tim-icons icon-bell-55"></i>
              <p>Notifications</p>
            </a>
          </li>
          <li>
            <a href="./user.html">
              <i class="tim-icons icon-single-02"></i>
              <p>User Profile</p>
            </a>
          </li>
          <li>
            <a href="./tables.html">
              <i class="tim-icons icon-puzzle-10"></i>
              <p>Table List</p>
            </a>
          </li>
          <li>
            <a href="./typography.html">
              <i class="tim-icons icon-align-center"></i>
              <p>Typography</p>
            </a>
          </li>
          <li>
            <a href="./rtl.html">
              <i class="tim-icons icon-world"></i>
              <p>RTL Support</p>
            </a>
          </li>
          <li class="active-pro">
            <a href="./upgrade.html">
              <i class="tim-icons icon-spaceship"></i>
              <p>Upgrade to PRO</p>
            </a>
          </li>-->
        </ul>
      </div>
    </div>
    {% endblock sidebar %}

    <div class="main-panel">
      <div class="content">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="card ">
              <div class="card-header">
                <h4 class="card-title">Журнал матеріальних цінностей</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive ">
                  <table class="table table-hover tablesorter " id="">
                    {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
                    <thead class=" text-primary">
                      <tr>
                        <th> # </th>
                        <th> 
                          <a class="sorting" href="{% url "equipment:equipment" %}?order_by=name{% if order_by == 'name' and reverse != '1' %}&amp;reverse=1{% endif %}">
                            Назва обладнання
                            {% if order_by == 'name' and reverse != '1' %}&uarr;
                            {% elif order_by == 'name' and reverse == '1' %}&darr;
                            {% endif %}
                          </a>
                        </th>
                        <th> 
                          <a class="sorting" href="{% url "equipment:equipment" %}?order_by=category__name{% if order_by == 'category__name' and reverse != '1' %}&amp;reverse=1{% endif %}">
                          Категорія 
                          {% if order_by == 'category__name' and reverse != '1' %}&uarr;
                          {% elif order_by == 'category__name' and reverse == '1' %}&darr;
                          {% endif %}
                        </th>
                        <th> 
                          <a class="sorting" href="{% url "equipment:equipment" %}?order_by=employee__name{% if order_by == 'employee__name' and reverse != '1' %}&amp;reverse=1{% endif %}">
                          Відповідальний 
                          {% if order_by == 'employee__name' and reverse != '1' %}&uarr;
                          {% elif order_by == 'employee__name' and reverse == '1' %}&darr;
                          {% endif %}
                        </th>
                        <th> 
                          <a class="sorting" href="{% url "equipment:equipment" %}?order_by=status__name{% if order_by == 'status__name' and reverse != '1' %}&amp;reverse=1{% endif %}">
                          Статус  
                          {% if order_by == 'status__name' and reverse != '1' %}&uarr;
                          {% elif order_by == 'status__name' and reverse == '1' %}&darr;
                          {% endif %}
                        </th>
                        {% if user.is_staff %}
                          <th> Управління </th>
                        {% endif %}
                      </tr>
                    </thead>
                    <tbody>
                      {% for equipment in equipments %}
                      <tr>
                        <td> {{ forloop.counter }} </td>
                        <td> {{equipment.name}} </td>
                        <td> {{equipment.category.name}} </td>
                        <td> 
                          <span>{{equipment.employee.Rank}} {{equipment.employee.fullname}}</span><br>
                        <span class="text-muted">{{equipment.employee.officialPhone}}</span><br>
                        <span class="text-muted">{{equipment.employee.personalPhone}}</span>

                        </td>
                        <td> {{equipment.status}} </td>
                        <td>  </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                    {% endwith %}
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <div class="copyright">
            © 2023 made with <i class="tim-icons icon-heart-2"></i> by <b>Ruslan Tokar</b> for a 3002 NGU.
          </div>
        </div>
      </footer>
    </div>
  </div>
  <div class="fixed-plugin">
    <div class="dropdown show-dropdown">
      <a href="#" data-toggle="dropdown">
        <i class="fa fa-cog fa-2x"> </i>
      </a>
      <ul class="dropdown-menu">
        <li class="header-title"> Sidebar Background</li>
        <li class="adjustments-line">
          <a href="javascript:void(0)" class="switch-trigger background-color">
            <div class="badge-colors text-center">
              <span class="badge filter badge-primary active" data-color="white"></span>
              <span class="badge filter badge-info" data-color="black"></span>
              <span class="badge filter badge-success" data-color="green"></span>
            </div>
            <div class="clearfix"></div>
          </a>
        </li>
        <li class="adjustments-line text-center color-change">
          <span class="color-label">LIGHT MODE</span>
          <span class="badge light-badge mr-2"></span>
          <span class="badge dark-badge ml-2"></span>
          <span class="color-label">DARK MODE</span>
        </li>
      </ul>
    </div>
  </div>
{% endblock content %}