{% extends "base.html" %}
{% load static %}

{% block title %}Club{% endblock title %}
{% block activeinventory%} active {% endblock activeinventory %}
{% block content %}
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-uppercase mb-0">Inventory Information</h5>
        </div>
        <div class="table-responsive">
            <table class="table no-wrap user-table mb-0">
                <thead>
                <tr>
                    <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
                    <th scope="col" class="border-0"></th>
                    <th scope="col" class="border-0 text-uppercase font-medium">Device Name</th>
                    <th scope="col" class="border-0 text-uppercase font-medium">Category</th>
                    <th scope="col" class="border-0 text-uppercase font-medium">User</th>
                    <th scope="col" class="border-0 text-uppercase font-medium">Status</th>
                    {% if user.is_staff %}
                        <th scope="col" class="border-0 text-uppercase font-medium">Manage</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>


                {% for device in object_list %}
                <tr>
                    <td class="pl-4">{{ forloop.counter }}</td>
                    <td>
                    </td>
                    <td>
                        <h5 class="font-medium mb-0">{{device.name}}</h5>
                    </td>
                    <td>
                        <span class="text-muted">{{device.deviceCategoryId.name}}</span>
                    </td>
                    <td>
                        <span class="text-muted">{{device.employeeId.Rank}} {{device.employeeId.fullname}}</span><br>
                        <span class="text-muted">{{device.employeeId.PersonalPhone}}</span>
                    </td>
                    <td>
                        <span class="text-muted">{{profile.degree}}</span><br>
                    </td>
                    <td>
                        {% for status in profile.profileType.all %}
                            <span class="text-muted">{{status}}</span><br>
                        {% endfor %}
                    </td>
                    {% if user.is_staff %}
                        <td>
                            {% for group in profile.user.groups.all %}
                                <span class="text-muted">{{group}}</span><br>
                            {% endfor %}
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br>
    {% include "include/paginator_include.html" with page=page %}
</div> 
{% endblock content %}
